@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
 font-family: 'Ubuntu';
}

.App-header{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column
}